@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: purple;
}
nav {
  display: flex;
  align-items: center;
  padding: 32px 64px;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid gold;
  height: 96px;
  margin-bottom: 32px;
}
.nav-heading {
  font-size: 48px;
  font-family: "Agbalumo", sans-serif;
}

.nav-btn {
  height: 40px;
  width: 96px;
  background-color: darkslateblue;
  border-radius: 8px;
  border: 1px solid black;
  font-family: "Agbalumo", sans-serif;
}
main {
  padding: 0px 64px;
  width: 100%;
}
.main-para {
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}
#container {
  display: flex;
  gap: 32px;
  width: 100%;
  margin-bottom: 32px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-cart {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 30%;
  height: fit-content;
  border: 0.5px solid goldenrod;
  border-radius: 12px;
}
img {
  width: 100%;
  height: 250px;
  border-radius: 12px 12px 0px 0px;
}
.product-other {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.product-flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.product-title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
.product-description {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 12;
  font-weight: 300;
  /* word-wrap: break-word; */
}
